services:
  redis:
    image: redis:7.2-alpine
    container_name: redis
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --save 60 1000
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379" # Remover em produção
    networks:
      - app-network
    restart: unless-stopped

volumes:
  redis_data:

networks:
  app-network:
    driver: bridge