services:
  redis:
    image: redis:7.2-alpine
    container_name: sql-agent-prod-redis
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --save 60 1000
    volumes:
      - redis_data:/data
    ports:
      - "6378:6379"
    restart: unless-stopped

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      network: host
    container_name: sql-agent-prod-api
    env_file: api/.env
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      network: host
    container_name: sql-agent-prod-frontend
    env_file: frontend/.env
    depends_on:
      - api
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app

volumes:
  redis_data:

networks:
  default:
    name: sql-agent-prod-network
    driver: bridge
    external: true