services:
  redis:
    image: redis:7.2-alpine
    container_name: redis
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
      --save 60 1000
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379" # Remover em produção
    networks:
      - app-network
    restart: unless-stopped

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      network: host
    container_name: api
    env_file: api/.env
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    networks:
      - app-network
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      network: host
    container_name: frontend
    env_file: frontend/.env
    depends_on:
      - api
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    networks:
      - app-network

volumes:
  redis_data:

networks:
  app-network:
    driver: bridge